h1 {
    text-align: center
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    grid-gap: 1em;
    grid-auto-rows: 100px;
    background: rgb(42, 110, 110);
    border: 3px solid rgb(231, 0, 0);
}

.boxes {
    background-color: #80cbc4;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center
}